// :root {
//   --primary-color-blue: #091242;
//   --primary-yellow-color: #ffbe34;
//   --primary-white-color: #f4f4f4;
//   --font-blue-color: #1c1f35;
//   --font-gray-color: #666c89;
//   --gradient-color: linear-gradient(94deg, #ffb629 0%, #ffda56 51%, #ffd7a6 100%);
// }

$primary-color-blue: #091242;
$primary-yellow-color: #ffbe34;
$primary-white-color: #f4f4f4;
$font-blue-color: #1c1f35;
$font-gray-color: #666c89;
$gradient-color: linear-gradient(94deg, #ffb629 0%, #ffda56 51%, #ffd7a6 100%);

:root {
  --primary-color-blue: #{$primary-color-blue};
  --primary-yellow-color: #{$primary-yellow-color};
  --primary-white-color: #{$primary-white-color};
  --font-blue-color: #{$font-blue-color};
  --font-gray-color: #{$font-gray-color};
  --gradient-color: #{$gradient-color};
}

// Import Bootstrap
// @import '~bootstrap/scss/bootstrap';

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  /* Uncomment the following lines if needed */
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.header {
  // max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  height: 100px;
  background-color: var(--primary-color-blue);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 64px;
}

.logo-header {
  font-family: "Rubik", sans-serif;
  font-size: 30px;
  font-style: normal;
  line-height: normal;
  display: flex;
  align-items: center;

  img {
    width: 48px;
    height: 48px;
    margin-right: 10px; /* Add some margin to separate the image from text */
  }

  h3 {
    color: #fff;
  }
}

.address-bar {
  color: var(--primary-yellow-color);
  display: flex;
  flex-direction: row;
  gap: 20px; /* Reduce the gap between address items */

  p,
  .address-text {
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-family: "Krub", sans-serif; /* Uncomment if needed */
    font-weight: normal;
    margin-top: 6px;
    white-space: pre-line;
  }
}

.address {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.icon {
  width: 32px;
  height: 32px;
  padding: 8px;
  border-radius: 50%;
  background-color: #111c55;
}

.menu {
  background-image: url("./hero.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

/* Navbar.scss */
.navbar {
  background-color: #333;
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  margin: 0 15px;

  a {
    text-decoration: none;
    color: #fff;
    display: flex;
    align-items: center;

    &:hover {
      color: #ff0; /* Change color on hover */
    }
  }
}
